In [1]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()
print("First 3 rows:")
print(df.head(3))
print()
print("Summary statistics:")
print(df.describe())
print()
print("Information about the DataFrame:")
print(df.info())
print()
print("Accessing rows by label:")
print(df.loc[1])  # Accessing the second row
print()
print("Count of unique values in 'City' column:")
print(df['City'].value_counts())

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eve   45      Phoenix

First 3 rows:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Summary statistics:
             Age
count   5.000000
mean   35.000000
std     7.905694
min    25.000000
25%    30.000000
50%    35.000000
75%    40.000000
max    45.000000

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None

Accessing rows by label:
Name            Bob
Age              30
City    Los Angeles
Name: 1, dtype: object

Count of unique values in 'City' column:
City
New York       1
Los Angeles    1
Chicago        1
Houston        1
Phoenix        1
Name: count, dtype: int64